<a href="https://colab.research.google.com/github/aritro66/Diabetes-Prediction/blob/main/DiabetesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [3]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

Collecting and Processing Data

In [4]:
# Loading the dataset using Pandas function
diabetes_data = pd.read_csv('/content/diabetes.csv')

In [5]:
# Checking data of first 5 rows
diabetes_data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [6]:
# Checking data of last 5 rows
diabetes_data.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [7]:
# No. of rows and columns
diabetes_data.shape

(768, 9)

In [8]:
# Analysing data
diabetes_data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [10]:
# Finding Output
diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 represents Non-Diabetic

1 represents Diabetic

In [11]:
# Finding mean for outcome
diabetes_data.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [13]:
# Separating data and labels
X = diabetes_data.drop(columns='Outcome',axis=1)
Y = diabetes_data['Outcome']
print(X.shape)
print(Y.shape)

(768, 8)
(768,)

Data Standardization

In [15]:
scaler = StandardScaler()

In [18]:
X = scaler.fit_transform(X)
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

Training and Testing data

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=1)

In [20]:
print(X_train.shape, y_train.shape)
print(X_test.shape,y_test.shape)

(614, 8) (614,)
(154, 8) (154,)

Modal Training using SVM

In [22]:
classifier = svm.SVC(kernel='linear')
classifier.fit(X_train,y_train)

SVC(kernel='linear')

Modal Evalution

In [23]:
# Accuracy of Training Data
train_prediction = classifier.predict(X_train)
print('Accuracy of Training Data : ',accuracy_score(y_train,train_prediction))

Accuracy of Training Data :  0.7833876221498371

In [24]:
# Accuracy of Testing Data
test_prediction = classifier.predict(X_test)
print('Accuracy of Testing Data : ',accuracy_score(y_test, test_prediction))

Accuracy of Testing Data :  0.7792207792207793

Making a Prediction using certain input

In [25]:
input_data=np.array([8,183,64,0,0,23.3,0.672,32])

# Reshaping Array
input_data=input_data.reshape(1,-1)

prediction = classifier.predict(input_data)

if(prediction[0]==0):
  print("Non Diabetic")
else:
  print("Diabetic")

Diabetic

Correct Prediction